@import (once) "../../styles/variables.less";

.page-logo {
  margin: @spacing-m;
  height: auto;
  position: fixed;
  z-index: 1;
  line-height: 1rem;

  a {
    text-decoration: none;
    color: @white;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.nav {
  display: flex;
  position: fixed;
  width: @nav-bar-height;
  height: @nav-bar-height;
  background: black;
  max-width: @page-max-width;

  @media(max-width: @breakpoint-675) {
    right: 0px;
    top: 0px;
  }

  @media(min-width: @breakpoint-675) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: @nav-bar-height;
  }
}
.nav--fullscreen {
  @media(max-width: @breakpoint-675) {
    width: 100vw;
    height: 100vh;
  }
}

.nav-hamburger.hidden,
.nav-close.hidden {
  display: none;
}

.nav-close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: @nav-bar-height;
  height: @nav-bar-height;
}

.nav-hamburger {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: @nav-bar-height;
  height: @nav-bar-height;
}

.nav-hamburger svg {
  width: @nav-bar-height;
  height: @nav-bar-height;
  padding: @spacing-m;
  fill: @white;
  opacity: 1;
  @media(min-width: @breakpoint-1024){
    display: none;
  }
}

.nav-close svg {
  width: @nav-bar-height;
  height: @nav-bar-height;
  padding: @spacing-m;
  fill: @white;
  opacity: 1;
}

.nav-container {
  height: @nav-bar-height;
  position: fixed;
  max-width: @page-max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 35px;
  margin: 0;
  width: 100%;
  height: @nav-bar-height;
  justify-content: flex-end;
}

.nav__list--column {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;

  @media(min-width: @breakpoint-675) {
    height: @nav-bar-height;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__list-item.nav__list-item--no-margin {
  margin-left: 0;
  margin-right: 0;
}

.nav__list-item {
  display:none;
  width: auto;
  margin: 0 @spacing-s;
  padding-right: 15px;

  @media(min-width: @breakpoint-675) {
    display: flex;
  }
}

.nav__list-link {
  display: flex;
  text-decoration: none;

  @media(min-width: @breakpoint-675) {
    padding: @spacing-s;
  }
  @media(min-width: @breakpoint-1024) {
    padding: @spacing-m;
    margin-right: @spacing-m;
  }
}

.nav__list-link:hover > .nav__list-text {
  border-bottom: 3px solid @white;
}

.nav__list-text {
  color: @white;
  font-weight: @font-weight-bold;
  font-size: @font-size-s;
  text-transform: uppercase;

  @media(min-width: @breakpoint-1024) {
    font-size: @font-size-m;
  }
}
